/* Cores do site */
.Design-gráfico-1-hex { color: #A6926D; } 
.Design-gráfico-2-hex { color: #73634F; } 
.Design-gráfico-3-hex { color: #8C8884; } 
.Design-gráfico-4-hex { color: #F2F2F2; }
.Design-gráfico-5-hex { color: #0D0D0D; } 
